.container {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem; 
  margin-bottom: 2rem;
  height: 380px;
  width: 320px;
  border-radius: 0.25rem;
  background-color: #1481BA;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff
}

.desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  color: rgba(156, 163, 175, 1);
}

.price {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  color: #fff
}

button{
  margin-top: 2rem;
}

.containerMembership {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem; 
  margin-bottom: 2rem;
  height: 250px;
  width: 320px;
  border-radius: 0.25rem;
  background-color: #1481BA;
  padding: 1.5rem;
  display: inline-flex
}