button{
    display: inline-block;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;

}

button:hover{
    background-color: grey;
}